{% load static %}


<!DOCTYPE html>
<html>
<head>
    <title>Detalhes do Candidato</title>
    <!-- Adicione o link para o arquivo CSS do Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/candidatos.css' %}">
    <link rel="stylesheet" href="{% static 'css/detalhes.css' %}">
    
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Solo Pro</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Página Inicial <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Serviços</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contato</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Detalhes do Candidato -->
    
        <div class="container">

            <div class="candidate-details-container">
                <div class="text-center">
                    <img src="candidato1.jpg" class="img-fluid" alt="Foto do Candidato">
                </div>
                <h3>{{ vaga.nome }}</h3>
                <p>Descrição do Candidato</p>
                <ul class="list-group">
                    <li class="list-group-item">Idade: 20 anos</li>
                    <li class="list-group-item">Experiência: 5 anos</li>
                    <li class="list-group-item">Formação: Ensino Médio Completo</li>
                    <li class="list-group-item">Habilidades: {{ vaga.proficao }}</li>
                    <li class="list-group-item">Telefone: {{ vaga.contato }}</li>
                    <li class="list-group-item">Endereço: {{ vaga.endereco }} </li>
                </ul>

                <div class="botoes" style="margin-top: 10px;">
                    <h6 class="bnt-candidatos-editar" style="background-color: rgb(79, 172, 254);" >
                       <div class="bnt-zin" style="background-color: rgb(26, 26, 238);">
                        <a  href="{% url 'editar_vaga' vaga.id %}">editar</a>
    
                       </div  > 
                       
                       
                       <div class="bnt-zin" style="background-color: rgb(26, 26, 238);">
                        <a href="{% url 'delete_vaga' vaga.id %}" >deletar</a> 
                       </div>
                        
                    </h6>
                </div>
                
            </div>

            

            <div id="botao" class="text-center mt-4">
                <a href="{% url 'vagas' %}" class="btn btn-primary">Voltar para a lista de Vagas</a>
            </div>
        </div>
    
    <footer class="bg-dark text-white mt-5">
        <div class="container py-3">
          <div class="row">
            <div class="col-md-6">
              <h4>Informações de Contato</h4>
              <p>Email: solopro@exemplo.com</p>
              <p>Telefone: (XX) XXXX-XXXX</p>
              <p>Endereço: Rua Exemplo, 123 - Cidade - Estado</p>
            </div>
            <div class="col-md-6">
              <h4>Redes Sociais</h4>
          
              <a href="#" target="_blank" class="text-white me-3"><i class="fab fa-facebook"></i></a>
              <a href="#" target="_blank" class="text-white me-3"><i class="fab fa-twitter"></i></a>
              <a href="#" target="_blank" class="text-white me-3"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <p class="text-center">© 2023 SoloPro.com Todos os direitos reservados.</p>
            </div>
          </div>
        </div>
      </footer>

    <!-- Adicione o link para o arquivo JavaScript do Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
