{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <title>Solo Pro</title>

    <style>
        /* Estilo personalizado para o carousel */
        .carousel {
          width: 200px;
          height: 300px;
        }
    
        .carousel-inner {
          width: 100%;
          height: 100%;
        }
    
        .carousel-item img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
    
        .carousel-caption {
          background-color: rgba(0, 0, 0, 0.7);
          padding: 10px;
        }
    
        .carousel-caption h3, .carousel-caption p {
          color: #fff;
        }
    
        /* Estilizar as setas de navegação */
        .carousel-control-prev, .carousel-control-next {
          width: 10%;
          background: rgba(0, 0, 0, 0.5);
        }
    
        .carousel-control-prev-icon, .carousel-control-next-icon {
          filter: invert(100%);
        }
    
        .carousel-control-next {
          right: 0;
        }
    
        .carousel-indicators {
          bottom: 0;
        }
      </style>
</head>

<body>
    
    <div class="barra-lateral">
        <h1 class="logo"> Solo Pro</h1>

        <div class="menu">
            <div  class="contratar">
                <div class="icon-contratar">
                    
                </div>
                <a id="bnt-contratar" href="{% url 'candidatos' %}"><h2 id="bnt-contratar">contratar</h2></a>
                
                
            </div>
            <div class="contratar">
                <div class="icon-vagas">
                    
                </div>
                <a id="bnt-contratar" href="{% url 'vagas' %}"> <h2 id="bnt-contratar">Vagas</h2>  </a>
                
            </div>
            
            
            <div class="container mt-5">
                <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                  <!-- Indicadores do carousel -->
                  <ol class="carousel-indicators">
                    <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
                    <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
                  </ol>
                  
                  <!-- Slides do carousel -->
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="https://media.istockphoto.com/id/464066205/pt/foto/trabalhador-da-constru%C3%A7%C3%A3o-civil-posando.jpg?s=170667a&w=0&k=20&c=1UQPuYDVi902vmRAOyftciDhgCCV2rHmjgyU9SD12mM=" alt="">
                      
                      <div class="carousel-caption">
                        
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img src="https://img.freepik.com/fotos-premium/trabalhador-da-construcao-civil-jovem-em-fundo-branco-com-tracado-de-recorte-e-recorte-e-copie-o-espaco_568847-596.jpg" alt="">
                      <div class="carousel-caption">
                        
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img src="https://img.freepik.com/fotos-premium/jovem-trabalhador-da-construcao-civil-africano-feliz-sorrindo-com-a-mao-no-peito_251136-39651.jpg?w=2000" alt=""><div class="carousel-caption">
                        
                      </div>
                    </div>
                  </div>
                  
                  <!-- Controles de navegação -->
                  
                </div>
              </div>
              
              <!-- Scripts do Bootstrap e jQuery -->
              <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
              <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
              <script>
                // Iniciar o carousel e habilitar a função de passar automaticamente
                const myCarousel = new bootstrap.Carousel(document.getElementById('myCarousel'), {
                  interval: 3000 // Intervalo de 3 segundos entre as transições
                });
              </script>
            
        </div>
        

       


    </div>

    <div  class="main">
        <div class="main-topo">
            <div class="menu-bar"></div>
            
        </div>
        <div class="filter-wrapper">
            
        </div>
       
        <div class="wrapper">
            <div style="height: 200px;" class="card">
                <div class="card-left">
                    <img src="img/Google__G__Logo.svg.png" alt="">

                </div>
                <div class="card-center">
                    <h3>Postos EP</h3>
                    <p class="card-detail"></p>
                    <p class="card-loc">capitao poco</p>
                    <div class="card-sub">
                        <p>1 minuto atras</p>
                        <p>tempo integral</p>
                        <p>100 intereces</p>
                    </div>


                </div>
                <div class="card-right">
                    <div class="card-tag">
                        <h5>Area de atuacao</h5>
                        <a href="#">Frentista</a>
                    </div>
                    <div class="salary">
                        <p><b>R$ 1.200</b> <span>mes</span> </p>
                    </div>
                </div>
            </div>

            <div style="height: 200px;" class="card">
                <div class="card-left">
                    <img src="img/Google__G__Logo.svg.png" alt="">

                </div>
                <div class="card-center">
                    <h3>Super Mercado Carlito</h3>
                    <p class="card-detail"></p>
                    <p class="card-loc">Capitao Poco</p>
                    <div class="card-sub">
                        <p>1 minuto atras</p>
                        <p>tempo integral</p>
                        <p>100 intereces</p>
                    </div>


                </div>
                <div class="card-right">
                    <div class="card-tag">
                        <h5>Area de atuacao</h5>
                        <a href="#">atendente</a>
                    </div>
                    <div class="salary">
                        <p><b>R$ 1.342</b> <span> Mes</span> </p>
                    </div>
                </div>
            </div>

            <div style="height: 200px;" class="card">
                <div class="card-left">
                    <img src="img/Google__G__Logo.svg.png" alt="">

                </div>
                <div class="card-center">
                    <h3>Surper Mercado Ibaraki</h3>
                    <p class="card-detail">capitao poco</p>
                    <p class="card-loc">rua</p>
                    <div class="card-sub">
                        <p>1 minuto atras</p>
                        <p>tempo integral</p>
                        <p>100 intereces</p>
                    </div>


                </div>
                <div class="card-right">
                    <div class="card-tag">
                        <h5>area de atuacao</h5>
                        <a href="#">atendente</a>
                    </div>
                    <div class="salary">
                        <p><b>R$ 2.387</b> <span>Ano</span> </p>
                    </div>
                </div>
            </div>

            <div style="height: 200px;" class="card">
                <div class="card-left">
                    <img src="img/Google__G__Logo.svg.png" alt="">

                </div>
                <div class="card-center">
                    <h3>Rei do hamburguer</h3>
                    <p class="card-detail">capitao poco</p>
                    <p class="card-loc">rua</p>
                    <div class="card-sub">
                        <p>1 minuto atras</p>
                        <p>tempo integral</p>
                        <p>100 intereces</p>
                    </div>


                </div>
                <div class="card-right">
                    <div class="card-tag">
                        <h5>Area de atuacao</h5>
                        <a href="#">Entregador</a>
                    </div>
                    <div class="salary">
                        <p><b>R$ 1.087</b> <span>Mes</span> </p>
                    </div>
                </div>
            </div>

            


        </div>
    </div>

    <div class="barra-lateral-direita">

        <h2>Candidatos</h2> 

        <div class="candidatos">
            <a href="detalhes-candidato.html"  class="card-candidatos">
                <div class="candidato-img">
                    <img src="" alt="">

                </div>

                <div class="card-candidato-informacoes">
                    
                    <div class="card-candidato-nome" >
                        <p style="font-size: 15px; color: var(--darckGrayColor);">nome:</p>
                        Mia 
                    </div>
    
                    <div class="card-candidato-endereco">
                        <p style="font-size: 15px; color: var(--darckGrayColor);">end:</p>
                        Estados Unidos
                    </div>

                </div>

                <div class="card-candidato-informacoes-direito">
                    <div class="card-candidato-area">
                        <p style="font-size: 15px; color: var(--darckGrayColor);">atuacao:</p>
                        <h4>Atriz</h4>
                    </div>

                    <div class="card-candidato-avaliacao">
                        <p style="font-size: 15px; color: var(--darckGrayColor);">avaliacao:</p>
                        <div class="card-candidato-avaliacao-estrela">
                            <img src="img/star.png" alt="">
                            <img src="img/star.png" alt="">
                            <img src="img/star.png" alt="">
                            <img src="img/star.png" alt="">
                        </div>
                    </div>
                </div>
                

            </a>
            <div class="card-candidatos">
                <div class="candidato-img">
                    <img src="img/Google__G__Logo.svg.png" alt="">


                </div>

                <div class="card-candidato-informacoes">
                    
                    <div class="card-candidato-nome" >
                        <p style="font-size: 15px; color: var(--darckGrayColor);">nome:</p>
                        Francisco andre
                    </div>
    
                    <div class="card-candidato-endereco">
                        <p style="font-size: 15px; color: var(--darckGrayColor);">end:</p>
                        capitao poco
                    </div>

                </div>

                <div class="card-candidato-informacoes-direito">
                    <div class="card-candidato-area">
                        <p style="font-size: 15px; color: var(--darckGrayColor);">atuacao:</p>
                        <h4>eng.softwere</h4>
                    </div>

                    <div class="card-candidato-avaliacao">
                        <p style="font-size: 15px; color: var(--darckGrayColor);">avaliacao:</p>
                        <div class="card-candidato-avaliacao-estrela">
                            <img src="img/star.png" alt="">
                            <img src="img/star.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-candidatos">

                <div class="candidato-img">
                    <img src="img/Google__G__Logo.svg.png" alt="">


                </div>

                <div class="card-candidato-informacoes">
                    
                    <div class="card-candidato-nome" >
                        <p style="font-size: 15px; color: var(--darckGrayColor);">nome:</p>
                        Francisco andre
                    </div>
    
                    <div class="card-candidato-endereco">
                        <p style="font-size: 15px; color: var(--darckGrayColor);">end:</p>
                        capitao poco
                    </div>

                </div>

                <div class="card-candidato-informacoes-direito">
                    <div class="card-candidato-area">
                        <p style="font-size: 15px; color: var(--darckGrayColor);">atuacao:</p>
                        <h4>eng.softwere</h4>
                    </div>

                    <div class="card-candidato-avaliacao">
                        <p style="font-size: 15px; color: var(--darckGrayColor);">avaliacao:</p>
                        <div class="card-candidato-avaliacao-estrela">
                            <img src="img/star.png" alt="">
                            <img src="img/star.png" alt="">
                            <img src="img/star.png" alt="">
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-candidatos">

                <div class="candidato-img">
                    <img src="img/Google__G__Logo.svg.png" alt="">


                </div>

                <div class="card-candidato-informacoes">
                    
                    <div class="card-candidato-nome" >
                        <p style="font-size: 15px; color: var(--darckGrayColor);">nome:</p>
                        Francisco andre
                    </div>
    
                    <div class="card-candidato-endereco">
                        <p style="font-size: 15px; color: var(--darckGrayColor);">end:</p>
                        capitao poco
                    </div>

                </div>

                <div class="card-candidato-informacoes-direito">
                    <div class="card-candidato-area">
                        <p style="font-size: 15px; color: var(--darckGrayColor);">atuacao:</p>
                        <h4>eng.softwere</h4>
                    </div>

                    <div class="card-candidato-avaliacao">
                        <p style="font-size: 15px; color: var(--darckGrayColor);">avaliacao:</p>
                        <div class="card-candidato-avaliacao-estrela">
                            <img src="img/star.png" alt="">
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-candidatos">

                <div class="candidato-img">
                    <img src="img/Google__G__Logo.svg.png" alt="">


                </div>

                <div class="card-candidato-informacoes">
                    
                    <div class="card-candidato-nome" >
                        <p style="font-size: 15px; color: var(--darckGrayColor);">nome:</p>
                        Francisco andre
                    </div>
    
                    <div class="card-candidato-endereco">
                        <p style="font-size: 15px; color: var(--darckGrayColor);">end:</p>
                        capitao poco
                    </div>

                </div>

                <div class="card-candidato-informacoes-direito">
                    <div class="card-candidato-area">
                        <p style="font-size: 15px; color: var(--darckGrayColor);">atuacao:</p>
                        <h4>eng.softwere</h4>
                    </div>

                    <div class="card-candidato-avaliacao">
                        <p style="font-size: 15px; color: var(--darckGrayColor);">avaliacao:</p>
                        <div class="card-candidato-avaliacao-estrela">
                            <img src="img/star.png" alt="">
                            <img src="img/star.png" alt="">
                            <img src="img/star.png" alt="">
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-candidatos">

                <div class="candidato-img">
                    <img src="img/Google__G__Logo.svg.png" alt="">


                </div>

                <div class="card-candidato-informacoes">
                    
                    <div class="card-candidato-nome" >
                        <p style="font-size: 15px; color: var(--darckGrayColor);">nome:</p>
                        Francisco andre
                    </div>
    
                    <div class="card-candidato-endereco">
                        <p style="font-size: 15px; color: var(--darckGrayColor);">end:</p>
                        capitao poco
                    </div>

                </div>

                <div class="card-candidato-informacoes-direito">
                    <div class="card-candidato-area">
                        <p style="font-size: 15px; color: var(--darckGrayColor);">atuacao:</p>
                        <h4>eng.softwere</h4>
                    </div>

                    <div class="card-candidato-avaliacao">
                        <p style="font-size: 15px; color: var(--darckGrayColor);">avaliacao:</p>
                        <div class="card-candidato-avaliacao-estrela">
                            <img src="img/star.png" alt="">
                            <img src="img/star.png" alt="">
                            <img src="img/star.png" alt="">
                        </div>
                    </div>
                </div>

            </div>
            
        </div>
        

        <div class="menu">
           
        </div>

        
       


    </div>

    


    <script src="{% static 'js/app.js' %}"></script>


    



</body>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="app.js"></script>

</html>