{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    
    <title>Solo Pro</title>
</head>

<body>
    
    <div class="barra-lateral">
        <h1 class="logo"> Solo Pro</h1>

        <div class="menu">
            <div  class="contratar">
                <div class="icon-contratar">
                    
                </div>
                <a id="bnt-contratar" href="#"><h2 id="bnt-contratar">contratar</h2></a>
                
                
            </div>
            <div class="contratar">
                <div class="icon-vagas">
                    
                </div>
                <h2 id="bnt-contratar">Vagas</h2>
                
            </div>
            
            
            
            
        </div>
        

       


    </div>

    <div class="main">
        <div class="main-topo">
            <div class="menu-bar"></div>
            
        </div>
        <div class="filter-wrapper">
            
        </div>
       
        <div class="wrapper">
            <div class="card">
                <div class="card-left">
                    <img src="img/Google__G__Logo.svg.png" alt="">

                </div>
                <div class="card-center">
                    <h3>Postos EP</h3>
                    <p class="card-detail"></p>
                    <p class="card-loc">capitao poco</p>
                    <div class="card-sub">
                        <p>1 minuto atras</p>
                        <p>tempo integral</p>
                        <p>100 intereces</p>
                    </div>


                </div>
                <div class="card-right">
                    <div class="card-tag">
                        <h5>Area de atuacao</h5>
                        <a href="#">Frentista</a>
                    </div>
                    <div class="salary">
                        <p><b>R$ 1.200</b> <span>mes</span> </p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-left">
                    <img src="img/Google__G__Logo.svg.png" alt="">

                </div>
                <div class="card-center">
                    <h3>Super Mercado Carlito</h3>
                    <p class="card-detail"></p>
                    <p class="card-loc">Capitao Poco</p>
                    <div class="card-sub">
                        <p>1 minuto atras</p>
                        <p>tempo integral</p>
                        <p>100 intereces</p>
                    </div>


                </div>
                <div class="card-right">
                    <div class="card-tag">
                        <h5>Area de atuacao</h5>
                        <a href="#">atendente</a>
                    </div>
                    <div class="salary">
                        <p><b>R$ 1.342</b> <span> Mes</span> </p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-left">
                    <img src="img/Google__G__Logo.svg.png" alt="">

                </div>
                <div class="card-center">
                    <h3>Surper Mercado Ibaraki</h3>
                    <p class="card-detail">capitao poco</p>
                    <p class="card-loc">rua</p>
                    <div class="card-sub">
                        <p>1 minuto atras</p>
                        <p>tempo integral</p>
                        <p>100 intereces</p>
                    </div>


                </div>
                <div class="card-right">
                    <div class="card-tag">
                        <h5>area de atuacao</h5>
                        <a href="#">atendente</a>
                    </div>
                    <div class="salary">
                        <p><b>R$ 2.387</b> <span>Ano</span> </p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-left">
                    <img src="img/Google__G__Logo.svg.png" alt="">

                </div>
                <div class="card-center">
                    <h3>Rei do hamburguer</h3>
                    <p class="card-detail">capitao poco</p>
                    <p class="card-loc">rua</p>
                    <div class="card-sub">
                        <p>1 minuto atras</p>
                        <p>tempo integral</p>
                        <p>100 intereces</p>
                    </div>


                </div>
                <div class="card-right">
                    <div class="card-tag">
                        <h5>Area de atuacao</h5>
                        <a href="#">Entregador</a>
                    </div>
                    <div class="salary">
                        <p><b>R$ 1.087</b> <span>Mes</span> </p>
                    </div>
                </div>
            </div>

            


        </div>
    </div>

    <div class="barra-lateral-direita">

        <h2>Candidatos</h2> 

        <div class="candidatos">
            <a href="detalhes-candidato.html"  class="card-candidatos">
                <div class="candidato-img">
                    <img src="" alt="">

                </div>

                <div class="card-candidato-informacoes">
                    
                    <div class="card-candidato-nome" >
                        <p style="font-size: 15px; color: var(--darckGrayColor);">nome:</p>
                        Mia 
                    </div>
    
                    <div class="card-candidato-endereco">
                        <p style="font-size: 15px; color: var(--darckGrayColor);">end:</p>
                        Estados Unidos
                    </div>

                </div>

                <div class="card-candidato-informacoes-direito">
                    <div class="card-candidato-area">
                        <p style="font-size: 15px; color: var(--darckGrayColor);">atuacao:</p>
                        <h4>Atriz</h4>
                    </div>

                    <div class="card-candidato-avaliacao">
                        <p style="font-size: 15px; color: var(--darckGrayColor);">avaliacao:</p>
                        <div class="card-candidato-avaliacao-estrela">
                            <img src="img/star.png" alt="">
                            <img src="img/star.png" alt="">
                            <img src="img/star.png" alt="">
                            <img src="img/star.png" alt="">
                        </div>
                    </div>
                </div>
                

            </a>
            <div class="card-candidatos">
                <div class="candidato-img">
                    <img src="img/Google__G__Logo.svg.png" alt="">


                </div>

                <div class="card-candidato-informacoes">
                    
                    <div class="card-candidato-nome" >
                        <p style="font-size: 15px; color: var(--darckGrayColor);">nome:</p>
                        Francisco andre
                    </div>
    
                    <div class="card-candidato-endereco">
                        <p style="font-size: 15px; color: var(--darckGrayColor);">end:</p>
                        capitao poco
                    </div>

                </div>

                <div class="card-candidato-informacoes-direito">
                    <div class="card-candidato-area">
                        <p style="font-size: 15px; color: var(--darckGrayColor);">atuacao:</p>
                        <h4>eng.softwere</h4>
                    </div>

                    <div class="card-candidato-avaliacao">
                        <p style="font-size: 15px; color: var(--darckGrayColor);">avaliacao:</p>
                        <div class="card-candidato-avaliacao-estrela">
                            <img src="img/star.png" alt="">
                            <img src="img/star.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-candidatos">

                <div class="candidato-img">
                    <img src="img/Google__G__Logo.svg.png" alt="">


                </div>

                <div class="card-candidato-informacoes">
                    
                    <div class="card-candidato-nome" >
                        <p style="font-size: 15px; color: var(--darckGrayColor);">nome:</p>
                        Francisco andre
                    </div>
    
                    <div class="card-candidato-endereco">
                        <p style="font-size: 15px; color: var(--darckGrayColor);">end:</p>
                        capitao poco
                    </div>

                </div>

                <div class="card-candidato-informacoes-direito">
                    <div class="card-candidato-area">
                        <p style="font-size: 15px; color: var(--darckGrayColor);">atuacao:</p>
                        <h4>eng.softwere</h4>
                    </div>

                    <div class="card-candidato-avaliacao">
                        <p style="font-size: 15px; color: var(--darckGrayColor);">avaliacao:</p>
                        <div class="card-candidato-avaliacao-estrela">
                            <img src="img/star.png" alt="">
                            <img src="img/star.png" alt="">
                            <img src="img/star.png" alt="">
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-candidatos">

                <div class="candidato-img">
                    <img src="img/Google__G__Logo.svg.png" alt="">


                </div>

                <div class="card-candidato-informacoes">
                    
                    <div class="card-candidato-nome" >
                        <p style="font-size: 15px; color: var(--darckGrayColor);">nome:</p>
                        Francisco andre
                    </div>
    
                    <div class="card-candidato-endereco">
                        <p style="font-size: 15px; color: var(--darckGrayColor);">end:</p>
                        capitao poco
                    </div>

                </div>

                <div class="card-candidato-informacoes-direito">
                    <div class="card-candidato-area">
                        <p style="font-size: 15px; color: var(--darckGrayColor);">atuacao:</p>
                        <h4>eng.softwere</h4>
                    </div>

                    <div class="card-candidato-avaliacao">
                        <p style="font-size: 15px; color: var(--darckGrayColor);">avaliacao:</p>
                        <div class="card-candidato-avaliacao-estrela">
                            <img src="img/star.png" alt="">
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-candidatos">

                <div class="candidato-img">
                    <img src="img/Google__G__Logo.svg.png" alt="">


                </div>

                <div class="card-candidato-informacoes">
                    
                    <div class="card-candidato-nome" >
                        <p style="font-size: 15px; color: var(--darckGrayColor);">nome:</p>
                        Francisco andre
                    </div>
    
                    <div class="card-candidato-endereco">
                        <p style="font-size: 15px; color: var(--darckGrayColor);">end:</p>
                        capitao poco
                    </div>

                </div>

                <div class="card-candidato-informacoes-direito">
                    <div class="card-candidato-area">
                        <p style="font-size: 15px; color: var(--darckGrayColor);">atuacao:</p>
                        <h4>eng.softwere</h4>
                    </div>

                    <div class="card-candidato-avaliacao">
                        <p style="font-size: 15px; color: var(--darckGrayColor);">avaliacao:</p>
                        <div class="card-candidato-avaliacao-estrela">
                            <img src="img/star.png" alt="">
                            <img src="img/star.png" alt="">
                            <img src="img/star.png" alt="">
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-candidatos">

                <div class="candidato-img">
                    <img src="img/Google__G__Logo.svg.png" alt="">


                </div>

                <div class="card-candidato-informacoes">
                    
                    <div class="card-candidato-nome" >
                        <p style="font-size: 15px; color: var(--darckGrayColor);">nome:</p>
                        Francisco andre
                    </div>
    
                    <div class="card-candidato-endereco">
                        <p style="font-size: 15px; color: var(--darckGrayColor);">end:</p>
                        capitao poco
                    </div>

                </div>

                <div class="card-candidato-informacoes-direito">
                    <div class="card-candidato-area">
                        <p style="font-size: 15px; color: var(--darckGrayColor);">atuacao:</p>
                        <h4>eng.softwere</h4>
                    </div>

                    <div class="card-candidato-avaliacao">
                        <p style="font-size: 15px; color: var(--darckGrayColor);">avaliacao:</p>
                        <div class="card-candidato-avaliacao-estrela">
                            <img src="img/star.png" alt="">
                            <img src="img/star.png" alt="">
                            <img src="img/star.png" alt="">
                        </div>
                    </div>
                </div>

            </div>
            
        </div>
        

        <div class="menu">
            
        </div>

       


    </div>

    <script src="{% static 'js/app.js' %}"></script>



</body>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="app.js"></script>

</html>