 {% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <title>tela de login</title>
    <link rel="stylesheet" href="{% static 'css/style-login.css' %}">
</head>
<body>
    


    <div class="conteiner-login">
        
        <div class="tela-login">
            <h2>Login</h2>
            
            
            <input class="email" type="email" placeholder="digite seu e-mail" name="" id="">
            
            
            
            <input class="senha" type="password" placeholder="digite sua senha" name="" id="">

            <div class="butoes">
                
                    <button class="bnt-criar-conta">Criar</button>
                
                
              
                    <button class="bnt-login">Logar</button>
        
                
            </div>

            <div class="termos">
                   <input type="radio" name="" id="" style="margin-left: 10px; text-decoration: n;"> <p> eu confirmo que li os <a href="" style="text-decoration: none;"> termos de uso</a></p>

            </div>

            

        </div>

        

    </div>
    
</body>
</html>