{% load static %}


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/candidatos.css' %}">
    <title>Document</title>

   

</head>
<body style="text-align: center;">

    


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Solo Pro</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}">Página Inicial <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sobre</a>
                </li>
                
                </li>
            </ul>
        </div>
    </nav>

    <div class="custom-container">
        Vagas
    </div>
    

    
    <ul class="lista-candidatos" >
        {% for vaga in vagas %}

        <div class="card-candidatos" style="">
            <div class="informacoes" style=" margin-top: 100px; text-align: left; ">

                <div class="nome">
                    <h4  id="h6-style">
                        <p><b>Nome:</b> </p>  {{ vaga.nome }} 
                        
                    </h4>
                </div>
                <div class="endereco">
                    <h6 id="h6-style" >
                       <p> <b>Endereço:</b> </p> {{ vaga.endereco }} 
                    </h6>
                </div>
                <div class="proficao">
                    <h6 id="h6-style" >
                       <p><b>Profissao:</b> </p> {{ vaga.atuacao }}  
                    </h6>
                </div>

                <div class="proficao">
                    <h6 id="h6-style" >
                       <p><b>Contato:</b> </p> {{ vaga.contato }}  
                    </h6>
                </div>
                <div class="botoes">
                    <div class="botoes">
                        <h6 class="bnt-candidatos-editar" >
                           <div class="bnt-zin" >
                            <a href="{% url 'editar_vaga' vaga.id %}">editar</a>
    
                           </div  > 
                           <div class="bnt-zin" >
                            <a href="{% url 'ver_detalhes_vaga' vaga.id %}">ver detalhes</a>
    
                           </div  > 
                           
                           <div class="bnt-zin">
                            <a href="{% url 'delete_vaga' vaga.id %}">deletar</a> 
                           </div>
                            
                        </h6>
                    </div>
                </div>

            </div>
           
            
            
            
            
           
            


        </div>
        
       
        {% endfor %}
    </ul>


    <footer class="bg-dark text-white mt-5" >
        <div class="container py-3" style="margin-top: 200px;">
          <div class="row">
            <div class="col-md-6">
              <h4>Informações de Contato</h4>
              <p>Email: solopro@exemplo.com</p>
              <p>Telefone: (XX) XXXX-XXXX</p>
              <p>Endereço: Rua Exemplo, 123 - Cidade - Estado</p>
            </div>
            <div class="col-md-6">
              <h4>Redes Sociais</h4>
              
              <a href="#" target="_blank" class="text-white me-3"><i class="fab fa-facebook"></i></a>
              <a href="#" target="_blank" class="text-white me-3"><i class="fab fa-twitter"></i></a>
              <a href="#" target="_blank" class="text-white me-3"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <p class="text-center">© 2023 SoloPro.com Todos os direitos reservados.</p>
            </div>
          </div>
        </div>
      </footer>






    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>




    
</body>
</html>